$navbar_bg-gr: linear-gradient(0deg, rgba(182,67,0,1) 0%, rgba(237,99,0,1) 23%, rgba(230,96,0,1) 79%, rgba(191,72,0,1) 100%);
$navbar_bg:rgb(162,60,0);

$navbar_bg-dark-gr: linear-gradient(0deg, rgba(210,88,0,1) 0%, rgba(162,60,0,1) 21%, rgba(180,68,0,1) 82%, rgba(230,96,0,1) 100%);
$navbar_bg-dark: rgb(210,88,0);

$btn_bg: rgb(40, 40, 40);
