@import "./variables";
@import "./mixins";

@import "../node_modules/bootstrap/scss/bootstrap.scss";


*,
*::after,
*::before {
    box-sizing: border-box;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

.bg-nav {
    background: $navbar_bg;
    background: $navbar_bg-gr;
}

.bg-nav-dark {
    background: $navbar_bg-dark;
    background: $navbar_bg-dark-gr;
}

.presentation_section {
    @include pres-section;
}

.section_title {
    color: rgba(191,72,0,1);
}

.section_img {
    background-image: url("./pngegg.png");
    @include section-bg-img;
}

.section_img2 {
    background-image: url("./pngegg1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

